body, html {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantaloupe', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  text-align: center;
  padding-top: 100px; /* Height of the navbar plus some extra space */
}

.io-box {
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
  max-width: 1200px; /* Adjust as needed */
  gap: 20px; /* Gap between the input and output boxes */
}

.input-box,
.output-box {
  flex: 1; /* Each box takes half of the .io-box width */
  padding: 5%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

h3 {
  margin-top: 0;
  color: #333;
}

textarea {
  width: 100%;
  min-height: 150px; /* Initial height, but can grow */
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  resize: vertical; /* Allows the user to resize vertically */
}

#sub
{
  border: #333;
  border-radius: 10%;
  background-color: #967bb6;
  margin-top: 10% ;
  scale: 1.5;
  font-family: 'Nunito Sans', sans-serif;
  cursor: url(".\\assets\\cursor.cur") 16 16,auto	;

}